<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cryptage</title>
</head>
<body>
    <div class="top">
        <h1>Crypter une phrase</h1>
        <div class="theme-switch">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider"></span>
            </label>
            <span>Activer le mode sombre</span>
        </div>
    </div>
    <form method="POST">
        <label for="plain_text">Votre phrase :</label>
        <input type="text" id="plain_text" name="plain_text" required>
        <button type="submit">Crypter</button>
    </form>
    {% if encrypted_text %}
    <p><strong>Phrase cryptée :</strong> {{ encrypted_text }}</p>
    {% endif %}
    <a href="/">Retour à l'accueil</a>

    <script src="{{ url_for('static', filename='theme.js') }}"></script>
</body>
</html>
